! Sane defaults for retina displays
Xft.dpi:        180
Xft.autohint:   false
Xft.lcdfilter:  lcddefault
Xft.hinting:    true
Xft.antialias:  true
Xft.rgba:       rgb

! Xterm
XTerm*background: black
XTerm*foreground: white
XTerm*faceName:   Fixed
XTerm*faceSize:   10
